h1{
    color: crimson;
    font-style: italic;
    font-language-override: initial;
}

/* Properties of CSS */

   /* 
   1) Color
   2) Border-Color
   3) RGB (0-255)
   4) Hexadecimal Color
   */